
*.DS_Store
*.vs
*.user
*.tmp
*.pyc

__pycache__/
.vscode
.idea
.project
.cproject
.pydevproject
.settings/
CMakeSettings.json
Makefile
.test_env/

*~
bazel-*

build_*
# clion workspace.
cmake-build-*
